# **Pembelajaran Mesin H**
### **Muhammad Aqil Farrukh / 502522158**
### **Tugas 2 K-Means Clustering**

1. Mensuppress Warnings: Kode pertama mendefinisikan sebuah fungsi warn() yang tidak melakukan apa-apa (pass). Kemudian, modul warnings diimpor, dan fungsi warn() yang telah didefinisikan sebelumnya digunakan untuk menggantikan fungsi warn bawaan dari modul tersebut. Hal ini dimaksudkan untuk menonaktifkan atau menyuppress pesan peringatan yang mungkin muncul selama eksekusi kode.

2. Import Libraries: Kode tersebut mengimpor beberapa library yang umum digunakan dalam analisis data dan pembelajaran mesin, termasuk:

* random: Untuk menghasilkan bilangan acak.
* numpy (diimpor sebagai np): Library yang digunakan untuk operasi numerik dan array.
* pandas (diimpor sebagai pd): Library yang digunakan untuk  manipulasi dan analisis data.
* matplotlib.pyplot (diimpor sebagai plt): Library yang digunakan untuk membuat visualisasi data.
* sklearn.cluster.KMeans: Kelas yang digunakan untuk melakukan klasterisasi dengan metode K-Means.
* sklearn.datasets.make_blobs: Fungsi yang digunakan untuk membuat dataset berbentuk blob (bercak) dengan berbagai properti tertentu.
3.  Inline Plotting: %matplotlib inline adalah sebuah magic command yang digunakan dalam lingkungan Jupyter Notebook atau IPython untuk menampilkan plot matplotlib di dalam notebook secara langsung setelah kode.

Dengan demikian, keseluruhan kode tersebut persiapan awal untuk melakukan analisis data dan klasterisasi dengan menggunakan K-Means, serta menampilkan visualisasi hasilnya di dalam notebook.`

In [2]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
import random 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans 
from sklearn.datasets import make_blobs 
%matplotlib inline

### **Menggunakan dataset personality customer, dilakukan data preprocessing, EDA, dan K-Means Clustering, lalu analisis hasil K-Means**

In [ ]:

dataF = pd.read_csv('marketing_campaign.csv',delimiter='\t')
dataF.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0


Baris kode dataF = pd.read_csv('marketing_campaing.csv') digunakan untuk membaca file CSV yang disebut 'marketing_campaing.csv' ke dalam sebuah DataFrame menggunakan fungsi read_csv dari modul pandas.

Kemudian, dataF.head() digunakan untuk menampilkan lima baris pertama dari DataFrame dataF.

Jadi, dengan menggunakan kode ini, kita mengimpor data dari file CSV ke dalam sebuah DataFrame dan kemudian menampilkan lima baris pertama dari DataFrame tersebut.

In [ ]:
dataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

Fungsi dataF.info() memberikan ringkasan singkat tentang struktur dan informasi dari DataFrame dataF. Ini mencakup beberapa informasi penting seperti:

Jumlah total baris (entries) dalam DataFrame.
Jumlah kolom (columns) dalam DataFrame.
Daftar nama kolom beserta tipe data masing-masing kolom.
Jumlah nilai non-null (non-missing) dalam setiap kolom.
Penggunaan memori oleh DataFrame.
Dengan menjalankan dataF.info(), kita akan mendapatkan pemahaman yang lebih baik tentang struktur dan isi dari DataFrame dataF, termasuk apakah terdapat nilai yang hilang (missing values) dalam dataset dan tipe data dari setiap kolomnya.

In [ ]:
dataF.describe(include='all')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2240,2240,2216.000000,2240.000000,2240.000000,2240,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
unique,NaN,NaN,5,8,NaN,NaN,NaN,663,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Graduation,Married,NaN,NaN,NaN,31-08-2012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1127,864,NaN,NaN,NaN,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5592.159821,1968.805804,NaN,NaN,52247.251354,0.444196,0.506250,NaN,49.109375,303.935714,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,NaN,NaN,25173.076661,0.538398,0.544538,NaN,28.962453,336.597393,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,NaN,NaN,1730.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,NaN,NaN,35303.000000,0.000000,0.000000,NaN,24.000000,23.750000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,NaN,NaN,51381.500000,0.000000,0.000000,NaN,49.000000,173.500000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,NaN,NaN,68522.000000,1.000000,1.000000,NaN,74.000000,504.250000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,NaN,NaN,666666.000000,2.000000,2.000000,NaN,99.000000,1493.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

Kemudian panggilan dataF.describe(include='all') memberikan ringkasan statistik deskriptif dari DataFrame dataF, termasuk kolom-kolom dengan tipe data numerik dan kategorikal. Ini mencakup informasi seperti:

* Count: Jumlah entri non-null (non-missing) untuk setiap kolom.
* Mean: Rata-rata nilai untuk setiap kolom.
* Std: Standar deviasi dari nilai untuk setiap kolom.
* Min: Nilai minimum untuk setiap kolom.
* 25th, 50th, 75th percentile: Kuartil ke-25, ke-50 (median), dan ke-75 untuk setiap kolom.
* Max: Nilai maksimum untuk setiap kolom.

In [ ]:
dataF.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

Panggilan dataF.isnull().sum() digunakan untuk menghitung jumlah nilai yang hilang (missing values) dalam setiap kolom DataFrame dataF.

Misalnya, jika sebuah kolom memiliki nilai null, jumlahnya akan dihitung dan ditampilkan. Jika sebuah kolom tidak memiliki nilai null, maka jumlahnya akan nol.

In [ ]:
dataF.duplicated().sum()

0

**Penjelasan Tentang Atribut Data**

Atribut Numerik:
1. Year_Birth: Tahun kelahiran pelanggan.
2. Income: Pendapatan tahunan pelanggan.
3. Kidhome: Jumlah anak di bawah usia 18 tahun di rumah tangga pelanggan.
4. Teenhome: Jumlah remaja di rumah tangga pelanggan.
5. Recency: Jumlah hari sejak pelanggan melakukan pembelian terakhir.
6. MntWines: Jumlah uang yang dihabiskan pelanggan untuk pembelian anggur.
7. MntFruits: Jumlah uang yang dihabiskan pelanggan untuk pembelian buah-buahan.
8. MntMeatProducts: Jumlah uang yang dihabiskan pelanggan untuk pembelian produk daging.
9. MntFishProducts: Jumlah uang yang dihabiskan pelanggan untuk pembelian produk ikan.
10. MntSweetProducts: Jumlah uang yang dihabiskan pelanggan untuk pembelian produk manis.
11. MntGoldProds: Jumlah uang yang dihabiskan pelanggan untuk pembelian produk emas.
12. NumDealsPurchases: Jumlah pembelian dengan diskon yang dilakukan pelanggan.
13. NumWebPurchases: Jumlah pembelian yang dilakukan pelanggan melalui website.
14. NumCatalogPurchases: Jumlah pembelian yang dilakukan pelanggan melalui katalog.
15. NumStorePurchases: Jumlah pembelian yang dilakukan pelanggan melalui toko fisik.
16. NumWebVisitsMonth: Jumlah kunjungan pelanggan ke website per bulan.
17. AcceptedCmp3: Apakah pelanggan menerima penawaran kampanye 3.
18. AcceptedCmp4: Apakah pelanggan menerima penawaran kampanye 4.
19. AcceptedCmp5: Apakah pelanggan menerima penawaran kampanye 5.
20. AcceptedCmp1: Apakah pelanggan menerima penawaran kampanye 1.
21. AcceptedCmp2: Apakah pelanggan menerima penawaran kampanye 2.
22. Complain: Apakah pelanggan mengajukan keluhan.
23. Z_CostContact: Biaya kontak.
24. Z_Revenue: Pendapatan dari pelanggan.

Atribut Kategorikal:
1. Education: Tingkat pendidikan pelanggan.
2. Marital_Status: Status perkawinan pelanggan.
3. Dt_Customer: Tanggal pelanggan bergabung.
4. Response: Respon pelanggan terhadap kampanye pemasaran.

**Permasalahan yang Terdapat pada Data:**

1. Terdapat banyak kolom, baik numerik maupun kategorikal, yang memiliki nilai null.
2. Beberapa atribut mungkin tidak relevan atau tidak akan digunakan dalam Analisis Eksplorasi Data (EDA) dan Klasterisasi K-Means.

### **PRE PROCESSING**

Preprocessing data adalah proses persiapan data sebelum dilakukan analisis lebih lanjut. Tujuan dari preprocessing data adalah untuk membersihkan, menormalkan, dan mempersiapkan data agar dapat digunakan secara efektif dalam model atau algoritma machine learning.

1. **Data Reduction**: Tahap ini melibatkan pengurangan dimensi data untuk mengurangi kompleksitas dan mempercepat proses analisis atau model. Beberapa teknik yang dapat digunakan dalam tahap ini antara lain:
   - Principal Component Analysis (PCA): Mengurangi dimensi data dengan menggabungkan fitur-fitur yang saling berkorelasi.
   - Feature Extraction: Mengubah data menjadi representasi yang lebih sederhana dan informatif, seperti menggunakan metode seperti t-SNE atau LDA.

In [ ]:
dataF['total_spend_product'] = dataF['MntWines'] + dataF['MntFruits'] + dataF['MntMeatProducts'] + dataF['MntFishProducts'] + dataF['MntSweetProducts'] + dataF['MntGoldProds']
dataF

NameError: name 'dataF' is not defined

Preprocessing data adalah proses persiapan data sebelum dilakukan analisis lebih lanjut. Tujuan dari preprocessing data adalah untuk membersihkan, menormalkan, dan mempersiapkan data agar dapat digunakan secara efektif dalam model atau algoritma machine learning.

Berikut adalah beberapa tahapan dalam preprocessing data secara detail:

1. **Data Cleaning**: Tahap ini melibatkan identifikasi dan penanganan masalah yang umum terjadi dalam data, seperti nilai yang hilang, data duplikat, format yang tidak tepat, dan outlier. Beberapa teknik yang dapat digunakan dalam tahap ini antara lain:
   - Menghapus baris atau kolom yang mengandung nilai yang hilang.
   - Mengisi nilai yang hilang dengan nilai rata-rata, median, atau modus.
   - Menghapus data duplikat.
   - Mendeteksi dan menangani outlier.

2. **Data Transformation**: Tahap ini melibatkan transformasi data agar sesuai dengan kebutuhan analisis atau model yang akan digunakan. Beberapa teknik yang dapat digunakan dalam tahap ini antara lain:
   - Normalisasi: Mengubah skala data agar memiliki rentang yang seragam, seperti menggunakan metode min-max scaling atau z-score scaling.
   - Encoding: Mengubah data kategorikal menjadi representasi numerik, seperti menggunakan one-hot encoding atau label encoding.
   - Feature Scaling: Mengubah skala fitur agar memiliki rentang yang seragam, seperti menggunakan metode min-max scaling atau standardization.

3. **Feature Selection**: Tahap ini melibatkan pemilihan fitur yang paling relevan dan berpengaruh dalam analisis atau model yang akan digunakan. Beberapa teknik yang dapat digunakan dalam tahap ini antara lain:
   - Univariate Selection: Memilih fitur berdasarkan hubungannya dengan variabel target menggunakan metode seperti chi-square test atau ANOVA.
   - Feature Importance: Menggunakan algoritma machine learning untuk mengevaluasi pentingnya setiap fitur dalam model.
   - Correlation Matrix: Menghapus fitur yang memiliki korelasi tinggi dengan fitur lainnya.

4. **Data Integration**: Tahap ini melibatkan penggabungan data dari berbagai sumber atau sumber yang berbeda menjadi satu dataset yang lengkap. Hal ini dapat melibatkan penggabungan kolom atau baris, penggabungan data dari file yang berbeda, atau penggabungan data dari database yang berbeda.

5. **Data Reduction**: Tahap ini melibatkan pengurangan dimensi data untuk mengurangi kompleksitas dan mempercepat proses analisis atau model. Beberapa teknik yang dapat digunakan dalam tahap ini antara lain:
   - Principal Component Analysis (PCA): Mengurangi dimensi data dengan menggabungkan fitur-fitur yang saling berkorelasi.
   - Feature Extraction: Mengubah data menjadi representasi yang lebih sederhana dan informatif, seperti menggunakan metode seperti t-SNE atau LDA.

Setelah melakukan preprocessing data, data siap untuk digunakan dalam analisis lebih lanjut, seperti eksplorasi data, visualisasi, atau pemodelan machine learning.